#container {
    width: 400px;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
    position: relative;
    background: #DCDCDC;
}
#tortuga {
    width: 180px;
    position: absolute;
}

#tortuga-img {
    width: 100%;
}

#enemy {
    width: 180px;
    position: absolute;
}

#enemy-img {
    width: 100%;
}