#tortuga {
    width: 180px;
    position: absolute;
}
#tortuga-img {
    width: 100%;
}
#enemy {
    width: 180px;
    position: absolute;
}
#enemy-img {
    width: 100%;
}
#bullet {
    width: 180px;
    position: absolute;
}
#bulletImg {
    width: 100%;
}

#cointainer{
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden; /* contain floated elements */
    background: white;
}
#left-container {
    float: left; 
    width: 33%;
    height: 100%;
    background-color: white;
    position: relative;
}
#right-container {
    float: left;
    width: 33%;
    height: 100%;
    background-color: white;
}
#center-container {
    width: 400px;
    height: 100%;
    float: left;
    position: relative;
    background: white;
    border-left: 4px solid black; 
    border-right: 4px solid black; 
}

#left-container div {
    height: 33%;
    border-bottom: 4px dotted black; 
}
#enemy-level {
    width: 100%;
    text-align: center;
    font-size: 100px;
    line-height: 250px;
}
#enemy-number {
    width: 100%;
    text-align: center;
    font-size: 100px;
    line-height: 250px;
}
#enemyFrags {
    width: 100%;
    text-align: center;
    font-size: 100px;
    line-height: 250px;
}
#leftSide {
    width: 50%;
    height: 100%;
    border-right: 4px dashed black; 
}